<body style="background-image: radial-gradient(circle at 50% -20.71%, #ffff93 0, #edff9b 7.14%, #d5ffa4 14.29%, #baffac 21.43%, #9effb4 28.57%, #80ffbb 35.71%, #60ffc0 42.86%, #38ffc3 50%, #00f1c5 57.14%, #00e4c6 64.29%, #00d9c8 71.43%, #00cfcb 78.57%, #00c7ce 85.71%, #00c1d1 92.86%, #00bcd6 100%);
text-align: center;">
<h1> Ejemplo del enlazado de datos </h1>
<h4>Ingresa un nombre</h4>
<input type="text" [(ngModel)]="nombre">
<h4>Ingresa un apellido</h4>
<input type="text" [(ngModel)]="apellido">
<h4>Hola {{nombre}} {{apellido}}</h4>
</body>